<footer class="text-center py-4 mt-5 border-top">
  <small class="text-muted d-block mb-2">
    &copy; <%= Time.current.year %> Boardgame Explorer
  </small>

  <small class="text-muted d-block mb-3">
    Demo project for the <strong>bgg_remote</strong> Ruby gem —
    simplifying integration with the BoardGameGeek API to easily fetch
    games, rankings, and detailed information.
  </small>

  <a href="https://github.com/nicollinoxx/bgg_remote" class="fw-bold link-warning text-decoration-none" target="_blank">
    View on GitHub
  </a>
</footer>
